html{
    width: 1440px;
    height: 1024px;
    background: var(--Light-blue-light-blue-100, #F3F5FC);

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 1440px;
    height: 1024px;
    background: var(--Light-blue-light-blue-100, #F3F5FC);
    
}
.logo{
    width: 120px;
    height: 48px;
    margin-top: 40px;
    
}
header{
    width: 120px;
    height: 48px;

}
#Respostas{
    box-sizing: border-box;
    width: 400px;
    height: 944px;
    flex-shrink: 0;
    border-radius: 32px;
    background: var(--White, #FFF);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    float: right;
    margin-bottom: 40px;
    margin-right: 40px;
}
#texto::placeholder{
    width: 680px;
    color: var(--Dark-blue-dark-blue-300, #0A3871);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 48px */
}
.imagem{
    width: 336px;
    height: 304px;
    flex-shrink: 0;
    margin-top: 200px;
    
    
}
#texto{
    width: 680px;
    height:550px;
    color: var(--Dark-blue-dark-blue-300, #0A3871);
    background-color: transparent;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 48px */
    outline: none;
    border: none;
    margin-left:160px;
    margin-top: 160px;
    
}
.sifras{
    width: 680px;
    align-items:flex-end;
    margin: 24px;
    margin-left:175px;

}
.Cripto{
    color: var(--White, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    width: 328px;
    padding: 24px;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 24px;
    background: var(--Dark-blue-dark-blue-300, #0A3871);
    outline: none;
    border: none;
}
.Descripto{
    color: var(--Dark-blue-dark-blue-300, #0A3871);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 328px;
    padding: 24px;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid var(--Dark-blue-dark-blue-300, #0A3871);
    background: #D8DFE8;
    margin-left: 19px;
}
.titulo{
    align-self: stretch;
    color: var(--Gray-gray-500, #343A40);
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    
}
.paragrafo{
    align-self: stretch;
    color: var(--Gray-gray-400, #495057);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.Alerta{
    color: var(--Gray-gray-400, #495057);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 18px */
    margin-bottom: 25px;
    align-items: center;
}
.iconalert{
    transform: translateY(5px);
    margin-right: 5px;
}
#resp{
    width: 336px;
    height: 781px;
    flex-shrink: 0;
    color: var(--Gray-gray-400, #495057);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
    outline: none;
    border: none;
    background-color: transparent;
    margin-top: 32px;
    margin-left: 32px;
}
.copiar{
    color: var(--Dark-blue-dark-blue-300, #0A3871);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 328px;
    padding: 24px;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 1px solid var(--Dark-blue-dark-blue-300, #0A3871);
    background: #D8DFE8;
    margin-left: 35px;
}
footer{
    text-align: center;
}
#futer{
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color: #0A3871;
}